.div_fl_input{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    border-bottom: 1px solid rgb(201, 198, 198);
    color: gray;
    padding-bottom: 1rem;
    
}


.fl_title{
    color: rgb(201, 198, 198);
    font-size: 0.75rem;
}

.fl_input{
    border: transparent;
    /*outline: none;*/
    width: 100%;
    padding: 0.3rem 0.5rem;
}


.div_pagin {
    margin-top: 15rem;
}
/*Style pagination*/
.ul_pagin {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.li_pagin {
    padding: 0 1.5%;
}

.link_pagin,
.icndroit_pagin {
    text-decoration: none;
    color: black;
    /*border: 1px solid;
 border-color: black;*/
    padding: 10px 15px;
}



.link_pagin:hover,
.active {

    background-color: black;
    color: white;


}


@media only screen and (max-width:768px) {

    .link8,
    .link9,
    .link10
     {
        display: none;
    }

  


}

@media only screen and (max-width:576px) {

    .link5,
    .link6,
    .link7,
    .link8,
    .link9,
    .link10 {
        display: none;
    }
}