

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family : 'Roboto';
}

body{
    min-height: 100vh;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding-left: 5%;
    padding-right: 5%;
    transition: all .5s ease;
}

header .navbar_left{
    display: flex;
    align-items: center;
    justify-content: s;
}

header .navbar_left img{
    max-width: 4rem;
}

header .nav{
    display: flex;
    align-items: center;
}
header .nav .login{
    display: none;
   
}

header .nav a{
    font-size: .8rem;
    font-weight: 500;
    color: #333;
    margin: 0px 30px;
    transition: all .5s ease;
    text-transform: uppercase;

}


header .navbar_right{
    display: flex;
    align-items: center;
    gap: 20px;
    
}



header .navbar_right a{
   margin-right: 25px;
   margin-left: 10px;
   font-size: .8rem;
   font-weight: 500;
   color: #333;
   margin: 0px 30px;
   transition: all .5s ease;
   text-transform: uppercase;
}

header .navbar_right img{
   margin-right: 8px;
    max-width: 1rem;
}

header .navbar_right #menu-icon{
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    z-index: 1001;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }
    header .nav  {
        padding: 5px 0;
        margin: 0 20px;
    }
}


@media (max-width: 700px){
    header .navbar_right #menu-icon{
        display: block;
    }

    header .nav{
        position: absolute;
        top: 80%;
        right: -100%;
        width: 150px;
        height: 12vh;
        background: blanchedalmond;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .5s ease;
        color: #fff;

    }

    header .navbar_left img{
        max-width: 3rem;
    }

    header .navbar_right a {
        display: none;

    }

    header .nav .login{
        display: block;
        margin: 3px 0;
        padding: 0px 25px;
        color: #f1f1f1;

    }

    header .nav a:hover{
        color: blue;
        transform: translateY(10px);
    }

    header .nav.open{
        position: absolute;
        background-color: #333;
        right:1px;
        margin-right: 2px;
        color: #f1f1f1;
        margin-bottom: 15px;
    }

    header .navbar_left a{
        color: #f1f1f1;
    }
}

.after_navbar{
    position: relative;
    top: 70px;
    width: 90%;
    width:90%;
    min-height: 10vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    /*background-color: aquamarine;*/
}

.after_navbar img{
    max-width: 3rem;

    /*background-color: rgb(22, 124, 155);*/
}

.after_navbar img{
    max-width: 2rem;
    margin-left: 20px;
}

/*.input{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 38px;
    gap: 30px;
}

input{
    flex: 1;
    width: 70%;
    height: 50px;
    border: none;
    border-bottom: solid .2rem #333;
    margin-bottom: 15px;
    text-align: left;
    font-size: 1.3rem;
    min-width: 0;
}*/

.input-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: #333;
    width: 92%;
}

input {
    width: 95%;
}

input {
    width: 92%;
    height: 30px;
    border: none;
    border-bottom: solid .2rem #333;
    font-size: 1.3rem;
    color: #333;
    margin-left: 20px;
    margin-left: 4%;
    padding-bottom: 10px;
    z-index: 10;
    background: transparent;
}

.input{
    display: flex;
    align-items: center;
    margin-bottom: -20px;
    margin-right: 40px;
    justify-content: flex-end;
    gap: 8px;
    color: #333;
    z-index: 4;
}

@media(max-width: 1000px){

    .after_navbar{
        position: relative;
        top: 90px;
        width:90%;
        min-height: 10vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /*background-color: rgb(22, 124, 155);*/
    }

    .after_navbar img{
        max-width: 2rem;
        margin-left: 1px;
    }

    input {
        width: 90%;
        height: 30px;
        border: none;
        border-bottom: solid .2rem #333;
        font-size: 1.1rem;
        color: #333;
        margin-left: 15px;
        padding-bottom: 10px;
        z-index: 10;
        background: transparent;
    }

     .input{
        display: flex;
        align-items: center;
        margin-bottom: -20px;
        margin-right: 48px;
        justify-content: flex-end;
        gap: 8px;
        color: #333;
        z-index: 4;
        font-size: .8rem;
    }
}
@media(max-width: 700px){

    .after_navbar{
        position: relative;
        top: 90px;
        width:90%;
        min-height: 10vh;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        /*background-color: rgb(22, 124, 155);*/
    }

    .after_navbar img{
        max-width: 1.5rem;
        margin-left: 10px;
    }

    .input{
        display: none;
    }
    input {
        width: 98%;
        height: 30px;
        border: none;
        border-bottom: solid .2rem #333;
        font-size: 1rem;
        color: #333;
        margin-right: 250px;
        padding-bottom: 10px;
        z-index: 10;
        background: transparent;
    }

}

.dropdown{
    width: 14%;
}

.dropdown:hover .dropdown-list{
    opacity: 1;
    visibility: visible;

}

.dropdown-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 1rem .5rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 45px;
    font-size: 1.3rem;
    margin-bottom: 30px;
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 0px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-select i{
    font-size: 40px;
    transition: all .3s ease;
}

.dropdown.active .dropdown-select i{
    transform: rotate(-180deg);
}

.dropdown .options{
    border-radius: 4px;
    background-color: #333;
    position: relative;
    color:#fff;
    padding: 5px;
    margin-top: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 0px 0 rgba(0, 0, 0, 0.1);
    transition: all .2s ease;
    display: none;
    width: 100%;
}

.dropdown .options:hover{
    background-color: #fff;
    color:#333;
    cursor: pointer;
    transition: all .2s ease;
}

.dropdown.active .options{
    display: block;
    transition: all .2s ease;
}

.options .option{
    display: flex;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
}

.option .option-text{
    font-size: 12px;
}

@media(max-width:1000px){
   .dropdown{
    width: 20%;
}

.dropdown:hover .dropdown-list{
    opacity: 1;
    visibility: visible;

}

.dropdown-select{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: .5rem .5rem;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 35px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 0px 0 rgba(0, 0, 0, 0.1);
}

.dropdown-select i{
    font-size: 40px;
    transition: all .3s ease;
}

.dropdown.active .dropdown-select i{
    transform: rotate(-180deg);
}

.dropdown .options{
    border-radius: 4px;
    background-color: #333;
    position: relative;
    color:#fff;
    padding: 5px;
    margin-top: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 0px 0 rgba(0, 0, 0, 0.1);
    transition: all .2s ease;
    display: none;
    width: 100%;
}

.dropdown .options:hover{
    background-color: #fff;
    color:#333;
    cursor: pointer;
    transition: all .2s ease;
}

.dropdown.active .options{
    display: block;
    transition: all .2s ease;
}

.options .option{
    display: flex;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
}

.option .option-text{
    font-size: 12px;
}

}
@media(max-width: 700px){
    .dropdown{
        position: absolute;
        top: 80px;
        left: 10px;
        width: 100%;
        z-index: 5;
    }

    .dropdown-select{
    cursor: pointer;
    height: 30px;
    padding: 25px 5px;
    border-radius: 4px;
    margin-bottom: 30px;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 0px 0 rgba(0, 0, 0, 0.1);
    }

    .dropdown-select i{
    font-size: 50px;
    transition: all .3s ease;
    }

    .dropdown.active .dropdown-select i{
    transform: rotate(-180deg);
    }
} 
