





/*Suppression des mages par defaut*/
*{
    margin: 0px;
    padding: 0px;
}
/******************/

.cadre_img{
    height: 600px;
    width: 440px; 
}

.img img{
 height: 26em;
 width: 27em;
 cursor: pointer;
 max-width: 100%;
 transition: transform 0.3s;
 padding-bottom: 25px;
 padding-left: 25px;
 
}

.img img:hover{
    transform: scale(1.1);
}
.text_nom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.5em;
    font-family: roboto;
}
.text{
    font-family: roboto;
}
.text,.note,.nom{
    margin-left: 17px;
    font-size: 0.8em;
}
.prix,.panier{
    margin-right: 25px;
}
.note_panier{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.panier img{
    height: 2em;
}
.panier span{
  position: relative;
  bottom: 15px;
  right:24px ;
  font-weight: bold;
}
.filter_responsive{
    display: none;
}
/********************************/
/*organisation des images : display grid*/
main{
    /* display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr; */
    gap: 10px;
    margin:auto;
    position: relative;
    top: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){
  main{
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;   
}

 .filter_responsive{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        height: 30px;
        padding: 25px 5px;
        border-radius: 4px;
        margin-bottom: 30px;
        font-size: 1rem;
        background-color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 0px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        bottom: 40px;
        left: 10px;
    }
    .filter_responsive i{
        font-weight: bold;
        font-size: 1.90rem;
        position: relative;
        right: 10px;
        bottom: 15px;
    }

.img img{
max-width: 93%;
margin-left: 17px;
padding-left: 0px;
}
.filter{
    max-width: 89%;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#fourth,#five,#six,#seven{
    display: none;
}
} 